flask
Werkzeug
flask-classy
flask-rq
flask-restful  # not flask-api its fiddley and function based
Flask-Script  # scripting
Flask-Uploads
Flask-WTF
Flask-Assets
requests
-e git+https://github.com/adafruit/Adafruit_Python_DHT.git#egg=Adafruit_DHT